/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";



@font-face {
  font-family: 'KidsMagazine';
  src: url('/fonts/Kids\ Magazine.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bondrians';
  src: url('/fonts/Bondrians.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-HeavyDEMO.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CreatoDisplay';
  src: url('/fonts/CreatoDisplay-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heavitas';
  src: url('/fonts/Heavitas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}