<div class="flex flex-col p-5">
  <div class="w-full flex justify-end text-white gap-5">
    <h1 class="hover-underline">About me</h1>
    <h1 class="hover-underline">Services</h1>
    <h1 class="hover-underline">Skills</h1>
    <h1 class="hover-underline">Contact</h1>
  </div>
  <div >
    
    <div class="flex flex-col">
      <h1 class="text-5xl font-bold text-white mt-10">Hi, I'm Chris Jhone Radana</h1>
      <h2 class="text-2xl text-gray-300 mt-5 ">A Passionate Developer and Virtual Assistant</h2>
      <p class="text-gray-300 mt-5 max-w-lg text-justify">I help busy professionals stay organized and grow online through smart systems and beautiful websites that capture their brand’s personality.
                                                As your Virtual Assistant and Web Developer, I’m here to make your ideas a reality.</p>
      <div class="mt-10">
        <button class="bg-blue-600 text-white px-6 py-3 rounded mr-5 hover:bg-blue-700 transition">Hire Me</button>
        <button class="bg-gray-800 text-white px-6 py-3 rounded hover:bg-gray-700 transition">Download CV</button>
      </div>
    </div>
  </div>
</div>