<nav class="bg-white fixed w-full z-20 top-0 start-0 border-b border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="me.jpg" class="h-8" alt="Flowbite Logo" style="border-radius: 50%;">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-gray-900">Chris Jhone</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center">
        Get started
      </button>
      <button data-collapse-toggle="navbar-sticky" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white">
        <li>
          <a href="#"
            class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0"
            aria-current="page">Home</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">About</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Services</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




<!-- Hero Section -->
<div
  class="relative h-[100vh] flex flex-col  lg:justify-center items-center lg:flex-row-reverse gap-6 animated-container overflow-hidden mt-20">
  <!-- Background covering full viewport -->
  <div id="hero-section" class="absolute">
  </div>
  <div class="w-[95vw] lg:w-[70vw] flex">


    <!-- Text Content -->
    <div class="flex flex-col w-full px-2 sm:px-4 text-content relative">
      <!-- <h1
        class="text-2xl sm:text-3xl lg:text-left md:text-2xl lg:text-2xl 2xl:text-2xl font-bold text-black mt-4 fade-in-up">
        Hi there!
      </h1> -->
      <h1 id="name"
        class="text-lg sm:text-3xl lg:text-left md:text-4xl lg:text-lg 2xl:text-4xl font-bold text-blue-600 mt-4 fade-in-up">
        CHRIS JHONE RADANA
      </h1>
      <h2
        class="text-base sm:text-lg md:text-xl lg:text-left lg:text-2xl 2xl:text-2xl text-gray-700 mt-3 fade-in-up delay-1">
        A Passionate Developer and Virtual Assistant
      </h2>
      <p
        class="text-gray-800 mt-5 lg:w-full lg:text-left w-full mx-auto lg:ml-auto lg:mr-0 text-justify text-sm sm:text-base lg:text-lg leading-relaxed fade-in-up delay-2">
        I help busy professionals stay organized and grow online through smart systems and beautiful websites
        that capture their brand’s personality. As your Virtual Assistant and Web Developer, I’m here to make
        your ideas a reality.
      </p>
      <div class="mt-8 w-full flex justify-start items-start fade-in-up delay-3">
        <a href="https://calendly.com/chrisjhonelozadaradana2004/30min"
          class="bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700 scale-hover">
          Make an Appointment
        </a>
      </div>
      <div class="w-full flex gap-5 mt-10 h-10 social-icons fade-in-up delay-4">
        <a href="https://www.facebook.com/CJlozada0709"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"
            class="h-10 float-hover">
            <path
              d="M576 320C576 178.6 461.4 64 320 64C178.6 64 64 178.6 64 320C64 440 146.7 540.8 258.2 568.5L258.2 398.2L205.4 398.2L205.4 320L258.2 320L258.2 286.3C258.2 199.2 297.6 158.8 383.2 158.8C399.4 158.8 427.4 162 438.9 165.2L438.9 236C432.9 235.4 422.4 235 409.3 235C367.3 235 351.1 250.9 351.1 292.2L351.1 320L434.7 320L420.3 398.2L351 398.2L351 574.1C477.8 558.8 576 450.9 576 320z" />
          </svg></a>
        <a href="mailto:chrisjhonelozadaradana2004@gmail.com"><svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 640" class="h-10 float-hover">
            <path
              d="M160 96C124.7 96 96 124.7 96 160L96 480C96 515.3 124.7 544 160 544L480 544C515.3 544 544 515.3 544 480L544 160C544 124.7 515.3 96 480 96L160 96zM165 266.2L231.5 266.2L231.5 480L165 480L165 266.2zM236.7 198.5C236.7 219.8 219.5 237 198.2 237C176.9 237 159.7 219.8 159.7 198.5C159.7 177.2 176.9 160 198.2 160C219.5 160 236.7 177.2 236.7 198.5zM413.9 480L413.9 376C413.9 351.2 413.4 319.3 379.4 319.3C344.8 319.3 339.5 346.3 339.5 374.2L339.5 480L273.1 480L273.1 266.2L336.8 266.2L336.8 295.4L337.7 295.4C346.6 278.6 368.3 260.9 400.6 260.9C467.8 260.9 480.3 305.2 480.3 362.8L480.3 480L413.9 480z" />
          </svg></a>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="h-10 float-hover">
          <path
            d="M112 128C85.5 128 64 149.5 64 176C64 191.1 71.1 205.3 83.2 214.4L291.2 370.4C308.3 383.2 331.7 383.2 348.8 370.4L556.8 214.4C568.9 205.3 576 191.1 576 176C576 149.5 554.5 128 528 128L112 128zM64 260L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 260L377.6 408.8C343.5 434.4 296.5 434.4 262.4 408.8L64 260z" />
        </svg>
      </div>
      <img src="arrow.png" alt="" class="arrow">
    </div>
    <div id="image-container z-10"
      class="hidden lg:block w-48 h-48 sm:w-80 sm:h-80 xl:w-120 xl:h-120 rounded-full overflow-hidden border-4 border-gray-300 shadow-lg lg:ml-10 flex-shrink-0 profile-img">
      <img src="me.jpg" alt="Chris Jhone Radana" class="w-full h-full object-cover">
      <div class="box"></div>
    </div>
  </div>
  <!-- Profile Image -->
  <img src="code.png" alt="" class="scatter scatter1">
  <img src="va.png" class="scatter scatter2">
  <img src="excel.png" alt="" class="scatter scatter3">
  <img src="email.png" alt="" class="scatter scatter4">
  <img src="dev.png" alt="" class="scatter scatter5">
</div>